div,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0px 20px;
}

div, p {
    line-height: 1.75em;
    text-indent:2em;
    letter-spacing: 0.08em;
}

a{
    color:#177cb0;
    transition: all 0.1s ease-in-out;
}
a:hover{
    color: #ff5c00;
    text-decoration: none;
}

img , video{
    margin: 10px 0px;
}