h2{
    font-size: 1.4em;
    margin: 10px -20px 10px 0px;
    padding: 0 20px;
    border-left: 5px solid #e40000;
}
h3{
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 10px;

}
h4{
    font-size: 1.2em;
}
h5{
    font-size: 1.1em;
}
h6{
    font-size: 1em;
}

div, p{
    font-size: 16px;
    padding: 0px 20px;
    line-height: 1.75em;
    text-indent:1em;
    letter-spacing: 0.08em;
}


a{
    color:#177cb0;
}
a:hover{
    color: #ff5c00;
    text-decoration: none;
}

img , video{
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}

.wp-caption-text {
	color: #757575;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
}