h2{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px -20px 10px 0px;
    padding: 0 10px;
    border-left: 5px solid #e40000;
}

h3{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 2px -20px 10px 0px;
    padding: 0 10px;
    border-left: 5px solid #3690cf;
}

h4{
    font-size: 1.2rem;
    font-weight: 700;
}

h5{
    font-size: 1.1rem;
    font-weight: 700;
}

h6{
    font-size: 1rem;
    font-weight: 700;
}

div, p{
    font-size: 16px;
    padding: 0px 20px;
    line-height: 1.75em;
    text-indent:1em;
    letter-spacing: 0.08em;
}


a{
    color:#177cb0;
}
a:hover{
    color: #ff5c00;
    text-decoration: none;
}

img , video{
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}

.wp-caption-text {
	color: #757575;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
}

blockquote{
    padding: 20px;
    background-color: #fafafa;
    border-left: 6px solid #e6e6e6;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 20px;
}