.post-title{
    font-family:  -apple-system, BlinkMacSystemFont,"Source Han Serif CN","Source Han Sans","Hiragino Sans GB", "MicroSoft YaHei",微软雅黑;
    font-weight: 700;
    letter-spacing:0.04em;
    margin: 20px 0px;
}

.post-content{
    font-family:  -apple-system, BlinkMacSystemFont,"PingFang SC","Source Han Sans","Hiragino Sans GB","MicroSoft YaHei",微软雅黑;
    max-width: 100%;
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 40px;
}
@media only screen and (max-width: 768px) {
    .post-content{
        max-width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.post-content h2{
    font-size: 1.6em;
    margin: 10px -20px 10px 0px;
    padding: 0 20px;
    border-left: 5px solid #e40000;
}

.post-content h3{
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 10px;

}
.post-content h4{
    font-size: 1.2em;
}
.post-content h5{
    font-size: 1.15em;
}
.post-content h6{
    font-size: 1em;
}

.post-content p{
    line-height: 1.75em;
    text-indent:1em;
    letter-spacing: 0.08em;
}

.post-content img,
.post-content video{
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}

.post-content a{
    color:#177cb0;
}

.post-content a:hover{
    color: #ff5722;
    text-decoration: none;
}

.post-content .wp-caption-text{
    text-align: center;
}
.wp-caption-text {
	color: #757575;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
}

/* 图片居中 */
img.alignright,
a img.alignright {float:right; margin:0 0 1em 1em}

img.alignleft,
a img.alignleft {float:left; margin:0 1em 1em 0}

img.aligncenter,
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}




/* Center */
.aligncenter,
.aligncenter img {
	margin-left: auto;
    margin-right: auto;
}

/* Left and right */

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}

.post-copyright-notice,
.post-tags,
.post-comments{
    margin: 30px 0px;
}

.post-copyright-notice p,
.post-comments p{
    margin-bottom: 20px;
}

.post-content-bottom{
    margin: 30px 100px 30px 30px;
}
@media only screen and (max-width: 768px) {
    .post-content-bottom{
        margin: 30px 0px 30px 0px;
    }
}

.post-icon{
    margin-right: 5px;
    color:#ff5722;
}


.post-info span{
    margin: 0px 10px;
}


 
.single-pagination span,
.single-pagination a{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 4px 12px;
    color:#177cb0;
}

.single-pagination a:hover{
    color:#177cb0;
    background-color: rgb(240, 240, 240);
}

.single-pagination .current{
    color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    background-color: #FF5722;
    padding: 4px 12px;
}

.post-tags{
    margin: 30px 0px;
}

.post-tags-badge{
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
}

.post-tags-badge a{
    background-color: rgb(244, 244, 244);
    border-radius:4px;
    padding: 6px 16px;
}

.post-tags-badge a:hover {
    color: #fff;
    background-color:#ff5722;
}

.single-tool{
    background-color: #fff;
    margin-left: 10px;
    padding: 20px;
    border: rgb(238, 238, 238) 1px solid;
}
@media only screen and (max-width: 768px) {
    .single-tool{
        background-color: #fff;
        margin-left: 0px;
        border: rgb(238, 238, 238) 1px solid;
    }
}
.post-title,
.single-tool p{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.single_sidebar_title{
    font-weight: 600;
}




/** --------------- 页面 ------------------ */

.page-content{
    max-width: 100%;
    padding: 0px 60px;
}
.page-content p{
    line-height: 1.75em;
    text-indent:1em;
    letter-spacing: 0.05em;
}
.page-content a{
    text-decoration: underline;
}
.page-content img{
    max-width: 100%;
    height: auto;
}

.page-tool ul{
    list-style: none;
}

.page-tool ul li{
    padding: 5px 0px;
}

@media only screen and (max-width: 768px) {
    .page-support-content{
        padding: 0px 10px;
    }
}


