/** ************************** 社交分享 ************************** */

.share{
    display: none;
    width: 100%;
}

.single-share-icon{
    position: fixed;
    top:216px;
    width:50px;
    height:50px;
    background-color:#fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.single-share-icon{
    position: fixed;
    top: 216px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.single-share-icon i{
    font-size: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.share{
    position: fixed;
    top: 190px;
    left: 130px;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    z-index: 9;
}


.share-icon{
    display: inline-block;
    padding: 20px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease; /* Safari */
}
.share-icon:hover{
    border-radius: 4px;
    background-color: #e6e4e4;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease; /* Safari */
}
.share-icon:active{
    background-color: #c0c0c0;
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease; /* Safari */
}
.share i{
    font-size: 24px;
    color: #000;
}
.share a{
    text-decoration: none;
}

.weixin-qr,
.bd_weixin_popup_foot,
.wechat-share-qr{
    display: none;
}
.wechat-share-qr{
    background-color: #fff;
    position: absolute;
    top: 70px;
    left: 80px;
    overflow: hidden;
    z-index: 9;

    padding: 20px;
    border: 1px solid #c0c0c0;
}

/** ************************** 社交分享↑ ************************** */
main{
    padding: 60px 80px 20px;
    background-color: #f9f9f9;
}

kbd{
    margin: 0px 0.2rem;
}

.single-title{
    position: absolute;
    display: block;
    z-index: 99;
    margin-top: 60px;
    margin-left: 100px;
    font-size: 24px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@keyframes upkeyframes
{
from {transform: translateY(0px);}
to {transform: translateY(-60px);}
}

#nav-title-up{
    animation: upkeyframes 300ms cubic-bezier(.645,.045,.355,1);
    animation-fill-mode: forwards;
}
@keyframes downkeyframes
{
from {transform: translateY(-60px);}
to {transform: translateY(0px);}
}
#nav-title-down{
    animation: downkeyframes 300ms cubic-bezier(.645,.045,.355,1);
    animation-fill-mode: forwards;
}

.container{
    margin-top: 10px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 4px;
}


.post-title{
    font-weight: 700;
    font-size: 30px;
    letter-spacing:0.04em;
    margin: 20px 0px;
}

.post-content{
    max-width: 100%;
    margin: 0px;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;

}

.post-title-div h1{
    font-size: 30px;
}

.post-content h2{
    font-size: 1.6em;
    margin: 10px -20px 10px 0px;
    padding: 0 20px;
    border-left: 5px solid #e40000;
}

.post-content h3{
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 10px;

}
.post-content h4{
    font-size: 1.2em;
}
.post-content h5{
    font-size: 1.15em;
}
.post-content h6{
    font-size: 1em;
}

.post-content p{
    margin-bottom: 20px;
    max-width: 100%;
    text-indent:1em;
    letter-spacing: 0.08em;
    word-break: break-word;
}

.post-content blockquote{
    padding: 20px;
    background-color: #fafafa;
    border-left: 6px solid #e6e6e6;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 20px;
}

.post-content img,
.post-content video{
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
}

.post-content a{
    color:#177cb0;
}

.post-content a:hover{
    color: #ff5722;
    text-decoration: none;
}

.post-content .wp-caption-text{
    text-align: center;
}
.wp-caption-text {
	color: #757575;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
}

/* 图片居中 */
img.alignright,
a img.alignright {float:right; margin:0 0 1em 1em}

img.alignleft,
a img.alignleft {float:left; margin:0 1em 1em 0}

img.aligncenter,
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}




/* Center */
.aligncenter,
.aligncenter img {
	margin-left: auto;
    margin-right: auto;
}

/* Left and right */

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}

.post-copyright-notice,
.post-tags,
.post-comments{
    margin: 30px 0px;
}

.post-copyright-notice p,
.post-comments p{
    margin-bottom: 20px;
}

.post-content-bottom{
    margin: 30px;
}

.post-icon{
    margin-right: 5px;
    color:#ff5722;
}


.post-info span{
    margin-right: 5px;
}

.post-info a:hover{
    color: #BDBDBD;
}


 
.single-pagination span,
.single-pagination a{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 4px 12px;
    color:#177cb0;
}

.single-pagination a:hover{
    color:#177cb0;
    background-color: rgb(240, 240, 240);
}

.single-pagination .current{
    color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    background-color: #FF5722;
    padding: 4px 12px;
}

.post-tags-badge{
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
}

.post-tags-badge a{
    background-color: rgb(244, 244, 244);
    border-radius:4px;
    padding: 6px 16px;
}

.post-tags-badge a:hover {
    color: #fff;
    background-color:#ff5722;
}

.single-tool{
    background-color: #fff;
    margin-right: 40px;
    padding: 20px;
    margin-top: 20px;
    border: rgb(238, 238, 238) 1px solid;
}
@media only screen and (max-width: 768px) {
    .single-tool{
        background-color: #fff;
        margin-left: 0px;
        border: rgb(238, 238, 238) 1px solid;
    }
}
.post-title,
.single-tool p{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.single_sidebar_title{
    font-weight: 600;
}

/** ************************** 短代码 **************************--- */

/** 插入站内文章 */
.insert-post-div{
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}
#insert-post-img{
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    display: inline-block;
}

.insert-post-div a{
    color: #212121;
}

.insert-post-div .insert-post-title{
    color: #212121;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    border: 0px solid;
    line-height: 1rem;
    text-indent: 0;
}

.insert-post-div .insert-post-description{
    font-size: 0.8rem;
    line-height: 1rem;
    text-indent: 0;
}
/** 插入站内文章——结束 */

/** 哔哩哔哩视频 */
 
.video-bilibili{
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .video-bilibili{
        height: 15em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-bilibili{
        height: 20em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .video-bilibili{
        height: 30em;
    }
}

@media only screen and (min-width: 1200px) {
    .video-bilibili{
        height: 34em;
    }
}

/** 哔哩哔哩视频——结束 */




/** ************************** 短代码——结束 **************************--- */



/** ************************** 深色模式 ************************** */

@media (prefers-color-scheme: dark) {

    main{
        color: #dedede;
        background-color: #212121;
    }

    .container{
        background-color: #2a2a2a;
        box-shadow: 2px 4px 6px 2px rgba(30,30,30,0.33);
    }

    .post-content blockquote{
        color: #999999;
        background-color: #313131;
    }

    .single-tool{
        background-color: #2a2a2a;
        box-shadow: 2px 4px 6px 2px rgba(30,30,30,0.33);
        border: 0px solid;
    }

    .share i{
        color: #dedede;
    }

    .share-icon:hover{
        background-color: #313131;
    }

    .share-icon:active{
        background-color: #383838;
    }

    .post-copyright-notice{
        background-color: #313131;
        box-shadow: 2px 4px 6px 2px rgba(30,30,30,0.33);
    }

    .post-tags-badge a{
        background-color: #313131;
        box-shadow: 2px 4px 6px 2px rgba(30,30,30,0.33);
    }
    
    .post-tags-badge a:hover {
        color: #dedede;
        background-color:#ff5722;
    }

    .wechat-share-qr{
        background-color: #313131;
        box-shadow: 1px 1px 8px 2px rgba(10,10,10,0.33);
        border: 0px solid;
    }

    .post-content img{
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }


    
}




