/** ********************************************** <=768 ********************************************** */
@media screen and (max-width:768px) {

    h4{
        font-size: 1.2rem;
    }
    main{
        padding: 10px 10px 0;
        margin: 0px auto;
    }
    nav{
        height: 60px;
        padding: 0px 10px;
    }
    .search-form{
        left: 5%;
        width: 90%;
    }
    
    .nav-link{
        display: none;
    }
/** 首页 */
    .little-section{
        display: none;
    }

    .icon-wenzhang{
        margin-left: 10px;
    }
    .index-post{
        padding: 15px;
    }
    .index-post-list-tags{
        display: none;
    }
    .index-posts-list{
        padding: 10px 0;
        border-bottom: 1px solid #e9ecef;
    }

    .index-posts-list:hover{
        background-color: #fff;
    }

    .index-posts-list:hover .index-posts-list-img{
        transform: scale(1); /*移动端图片不放大*/
    }

    .index-posts-list-img-div{
        float: none;
        width: 325px;
        height: auto;
        overflow: hidden;
        text-align: center;
    }
    .index-posts-list-img{
        width: 100%;
    }
    .index-posts-list-title{
        text-align: center;
        margin-top: 5px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .index-posts-list-info{
        margin: 5px 0;
        text-align: center;
    }
    .index-posts-list-info span,
    .index-posts-list-info a{
        margin: 0 5px;
    }
    .index-posts-list-excerpt{
        text-align: center;
        margin: 10px 0px;
    }
    .index-look-all-post {
        padding: 0;
        margin-top: 15px;
    }
    .index-sidebar{
        display: none;
    }
    .index-thematic-img {
        filter: brightness(100%);
    }


    .footer{
        padding: 20px;
        margin: 0px auto;
        background-color: #2a2a32;
    }
    .footer-copyright{
        display: none;
    }





}
/** ********************************************** <=768 ********************************************** */
/** ********************************************** >768 <=991 ********************************************** */
@media screen and (min-width:768px) and (max-width:991px) {
    .index-sidebar-box,
    .footer-menu-div{
        display: none;
    }
    
    .little-section-father{
        margin-bottom: 10px;
    }
    
    .post-content {
        margin: 0px 30px 20px;
    }
    
    .page-tool-father{
    padding-right: 0px;
    }
    
    .page-content{
        padding: 0px;
    }
}
/** ********************************************** >768 <=991 ********************************************** */