
.sidebar-box,
.footer-menu-div,
.single-right-side{
    display: none;
}

.little-section-father{
    margin-bottom: 10px;
}

.post-content {
    margin: 0px 30px 20px;
}

.page-tool-father{
padding-right: 0px;
}

.page-content{
    padding: 0px;
}