@media screen and (max-width: 768px) {
.hide-768{
    display: none;
}
h4{
    font-size: 1.2rem;
}
main{
    padding: 0px 10px;
    margin: 0px auto;
}
nav{
    width:100%;
    top:0px;
    height: 60px;
    padding: 0px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
    -moz-box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
    box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
}
.header-search{
    display: none;
}

.footer{
    padding: 20px;
    margin: 0px auto;
    background-color: #2a2a32;
}
.nav-link{
    display: none;
}

.index-lanmu-four-div{
    margin:0px;
}

.little-section{
    display: none;
}

.icon-wenzhang{
    margin-left: 10px;
}

.index-posts-list:hover{
    border-radius: 6px;
    background-color: #fff;
}

.index-posts-list:hover .post-img{
    z-index: 5;
    transform: scale(1); /*移动端图片不放大*/
    /*
    transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in; 
    */
}

.post-img-div{
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    /** img横向100%填充div */
    display:flex;
	align-items:center; 
	justify-content:center;
}
.post-img{
    /** img横向100%填充div */
    width:100%;
    height:auto;
}
.index-posts-list-title{
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
}

.post-list-tags{
    display: none;
}

.posts-list-info{
    display: none;
}
.index-posts-list-excerpt{
    text-align: center;
    margin: 10px 0px;
}

.sidebar-box{
    display: none;
}

}