/** ********************************************** <=768 ********************************************** */
@media screen and (max-width:768px) {

    h4{
        font-size: 1.2rem;
    }
    main{
        padding: 0px 10px;
        margin: 0px auto;
    }
    nav{
        width:100%;
        top:0px;
        height: 60px;
        padding: 0px 20px;
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
        -moz-box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
        box-shadow: 0px 1px 16px 0px rgba(207,207,207,0.33);
    }
    .header-search{
        display: none;
    }

    .footer{
        padding: 20px;
        margin: 0px auto;
        background-color: #2a2a32;
    }
    .nav-link{
        display: none;
    }

    .index-lanmu-four-div{
        margin:0px;
    }

    .little-section{
        display: none;
    }

    .icon-wenzhang{
        margin-left: 10px;
    }

    .index-posts-list:hover{
        border-radius: 6px;
        background-color: #fff;
    }

    .index-posts-list:hover .post-img{
        z-index: 5;
        transform: scale(1); /*移动端图片不放大*/
        /*
        transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in; 
        */
    }

    .post-title-div{
        margin-left:0px;
    }

    .post-title-div h1{
        font-size: 1.6em;
    }

    .post-content{
        max-width: 100%;
        margin: 20px 0px 0px;
    }

    .post-content h2{
        font-size: 1.4em;
        margin: 10px -20px 10px 0px;
        padding: 0 20px;
        border-left: 5px solid #e40000;
    }

    .post-content h3{
        font-size: 1.3em;
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .post-content h4{
        font-size: 1.2em;
    }
    .post-content h5{
        font-size: 1.1em;
    }
    .post-content h6{
        font-size: 1em;
    }

    .post-content p{
        line-height: 1.7em;
        text-indent:1em;
        letter-spacing: 0.07em;
    }

    .post-img-div{
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        /** img横向100%填充div */
        display:flex;
        align-items:center; 
        justify-content:center;
    }
    .post-img{
        /** img横向100%填充div */
        width:100%;
        height:auto;
    }
    .index-posts-list-title{
        text-align: center;
        padding-top: 40px;
        font-weight: 600;
    }

    .post-list-tags{
        display: none;
    }

    .posts-list-info{
        display: none;
    }
    .index-posts-list-excerpt{
        text-align: center;
        margin: 10px 0px;
    }

    .sidebar-box{
        display: none;
    }

    .single-right-side{
        display: none;
    }

}
/** ********************************************** <=768 ********************************************** */
/** ********************************************** >768 <=991 ********************************************** */
@media screen and (min-width:768px) and (max-width:991px) {
    .index-sidebar-box,
    .footer-menu-div,
    .single-right-side{
        display: none;
    }
    
    .little-section-father{
        margin-bottom: 10px;
    }
    
    .post-content {
        margin: 0px 30px 20px;
    }
    
    .page-tool-father{
    padding-right: 0px;
    }
    
    .page-content{
        padding: 0px;
    }
}
/** ********************************************** >768 <=991 ********************************************** */